<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditionals</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
</head>

<body>

    <div id="vue-app">
        <h1>Conditionals</h1>
        <button v-on:click="error =! error">Toggle Error</button>
        <button v-on:click="success =! success">Toggle Success</button>
        <p v-if="error">There has an error.</p>
        <!-- <p v-if="success">Whooo, Success :) </p> -->
        <p v-else-if="success">Whooo, Success :) </p>

        <!-- <p v-show="error">There has an error.</p>
        <p v-show="success">Whooo, Success :) </p> -->
    </div>

</body>
<script src="app.js"></script>

</html>